name: Build
on:
  push:
    branches:
      - master
  pull_request:
concurrency:
  group: ${{ github.head_ref || github.sha }}-${{ github.workflow }}
  cancel-in-progress: true
jobs:
  build:
    name: ${{ matrix.id }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        id:
          - "alpine-14"
          - "alpine-13"
          - "alpine-12"
          - "alpine-11"
          - "alpine-10"
          - "alpine-14-slim"
          - "alpine-13-slim"
          - "alpine-12-slim"
          - "alpine-11-slim"
          - "alpine-10-slim"
          - "debian-14"
          - "debian-13"
          - "debian-12"
          - "debian-11"
    steps:
      - name: Parse ID
        id: parse
        run: |
          set -x
          distribution=$(echo ${{ matrix.id }} | grep -o "^[^-]*")
          variant=$(echo ${{ matrix.id }} | sed -e "s/^[^-]*-//g")
          main_tag="groonga/pgroonga:latest-${{ matrix.id }}"
          tags="${main_tag}"
          if [ ${{ matrix.id }} = "alpine-14" ]; then
            tags="${tags},groonga/pgroonga:latest"
          fi
          echo "::set-output name=distribution::${distribution}"
          echo "::set-output name=variant::${variant}"
          echo "::set-output name=context::./${distribution}/${variant}"
          echo "::set-output name=main-tag::${main_tag}"
          echo "::set-output name=tags::${tags}"
      - uses: actions/checkout@v2
      - uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      - uses: docker/setup-buildx-action@v1
        id: buildx
      - uses: docker/build-push-action@v2
        id: docker_build
        with:
          cache-from: type=gha
          cache-to: type=gha,mode=max
          context: ${{ steps.parse.outputs.context }}
          push: true
          tags: ${{ steps.parse.outputs.tags }}
      - name: Image info
        run: |
          echo "ref: ${{ github.ref }}"
          echo "tags: ${{ steps.parse.outputs.tags }}"
          echo "digest: ${{ steps.docker_build.outputs.digest }}"
